「エンタメ」の中のバトンにも
%br
チェックを入れられたようですね！
%br
%br
次は万事に備えて
%br
Twitter認証しておきましょう。
%br
%br
Twitter認証しておけば
%br
このアプリを消したり
%br
iPhoneが壊れたりしても
%br
Twitterログインすることで
%br
今までのデータが失われなくてすみます。
%br
%br
Twitter認証してもTwitterの情報などが
%br
他人に公開されることはありません。
%br
%br
「Home」タブを押して左上にあるセッティングボタンを押すことで
%br
Twitter認証できます。
