Welcome to Baton !
%br
%br
This application will suggest
%br
the knowledge You are interested in.
%br
if You check the knowledge called "Baton".
%br
%br
At the begging,
%br
Let's tap "Home" tab in the bottom of this window.
%br
And Tap the checkbox of the item printed "Entertainment".
