バトンへようこそ！
%br
%br
このチュートリアルに従って
%br
自分が興味あるバトン（知識）
%br
をチェックしていくと
%br
コンピュータ
%br
さらに面白いバトン
%br
を提案してくれます。
%br
%br
百聞は一見に如かず。
%br
%br
まずは下にある５つのタブのうち「Home」
%br
を押して「エンタメ」というバトンの左側にある
%br
チェックボックスをワンタップしてみましょう！

