<h2>treeとは？</h2>
<p>treeは他人の思考をチェックするだけで<br />
自分の思考が見える化するWebサービスです</p>

<h2>こんな人にオススメ</h2>
<ul>
<li>ネットで情報発信したいけど間違いを発信するのが怖い</li>
<li>SNSに疲れた</li>
<li>自分は何を知っていて何を知らないのかを知りたい</li>
<li>wikipediaを編集するのは敷居が高い</li>
<li>永遠なるパーマリンクを持ちたい人</li>
</ul>
