<div class="row columns_wrapper js_columns_wrapper">
<div class="columns js_columns">

<div class="scroll scroll_left js_scroll_left">
＜
</div>

<div class="scroll scroll_right js_scroll_right">
＞
</div>

</div>
</div>

