%br
%br
%br
%a{:href => "baton://show/#{@branch.id}/"}
  ="Baton（バトン）のiPhoneアプリをお持ちの方はこちら"

%br
%br
%br
%a{:href => "http://itunes.apple.com/us/app/baton-text-memo-other-people/id540969808?l=ja&ls=1&mt=8"}
  ="アプリをインストールしていない場合はこちら"
