.orange-hover{
  background-color:darkorange;
}

p{
  margin:15px;
}

li{
  //margin:10px;
}

li.nochecked a{
  color: #ccc;
}

.yanked{
  background: #090;
}

.focus{
  background-color:darkorange;
}
